<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Paramétre</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Utilisateurs
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="prose prose-sm max-w-full">
            <div class="mb-12 p-8 rounded-2xl shadow bg-card">
                <div class="d-flex justify-content-between" >
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input
                            matInput
                            #input
                            (keyup)="applyFilter($event)"
                            [autocomplete]="'off'"
                            [placeholder]="'Rechercher user'">
                    </mat-form-field>
                    <button
                        style="float: right"
                        class="ml-4"
                        mat-flat-button
                        [color]="'primary'"
                        [routerLink]="'/user/add'"
                    >
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Ajouter</span>
                    </button>
                </div>


                <!-- Table -->

                    <div class="example-loading-shade"
                         *ngIf="isLoadingResults">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>


                        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >

                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%"> USERNAME </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row?.username}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="origine">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%"> UNITE </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row?.origine}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accountStatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%"> STATUS </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-icon
                                        class="icon-size-5"
                                        [ngClass]="(row?.accountStatus)?'text-green-400':'text-red-400'"
                                        [svgIcon]="(row?.accountStatus)?'heroicons_solid:check':'heroicons_solid:x'">
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ROLES">
                                <th mat-header-cell *matHeaderCellDef style="width: 26%"> ROLES </th>
                                <td mat-cell *matCellDef="let row">
                                    <span class="text-primary-500" *ngFor="let r of row?.roles;let l = last" >{{r}}{{(l)?'':' ,' }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PRIVILEGES">
                                <th mat-header-cell *matHeaderCellDef style="width: 26%"> PRIVILEGES </th>
                                <td mat-cell *matCellDef="let row">
                                    <span class="text-primary-500" *ngFor="let u of row?.unites;let l = last" >{{u}}{{(l)?'':' ,' }}</span>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="ACTION">
                                <th mat-header-cell *matHeaderCellDef style="width: 8%"> ACTION </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="action" >
                                        <mat-icon svgIcon="mat_solid:more_vert"></mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" >
                                        <button mat-menu-item [routerLink]="'/user/edit/'+row?.userid" >
                                            <mat-icon svgIcon="mat_solid:mode_edit_outline"></mat-icon>
                                            <span>EDITER</span>
                                        </button>
                                        <button *ngIf="user.userid != row?.userid" mat-menu-item [routerLink]="'/user/mdp/'+row?.userid" >
                                            <mat-icon svgIcon="mat_solid:vpn_key"></mat-icon>
                                            <span>CHANGER MDP</span>
                                        </button>
                                        <button *ngIf="user.userid != row?.userid" mat-menu-item (click)="delete(row?.userid)" >
                                            <mat-icon color="warn" svgIcon="mat_solid:delete_forever"></mat-icon>
                                            <span style="color: red" >DELETE</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                                class="example-element-row">
                            </tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" [attr.colspan]="displayedColumns.length">aucun utilisateur "{{input.value}}"</td>
                            </tr>

                        </table>

                        <mat-paginator
                            [showFirstLastButtons]="true"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>

            </div>

        </div>
    </div>

</div>
