<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between  sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Stallone stock</a>
                </div>
               

            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Articles
                </h2>
            </div>
        </div>
    </div>

    <div class="flex flex-auto p-6 sm:p-10">
        
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-100 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        #inpcode
                        placeholder="Search by title or description"
                        matInput
                        (keyup.enter)="getArticle(inpcode.value)"
                        #query>
                </mat-form-field>
                <mat-slide-toggle
                    class="mt-8 sm:mt-0 sm:ml-auto"
                    [color]="'primary'"
                    (change)="inpcode.value='';inpcode.disabled = !inpcode.disabled">
                    manuel
                </mat-slide-toggle>
               
                <button
                class="px-4 mr-1"
                mat-button
                (click)="showMoal()"
                [color]="'primary'">
                
                <mat-icon
                    class="icon-size-5"
                    svgIcon="add_shopping_cart"></mat-icon>
                <span class="ml-2">Ajouter</span>
            </button>
            </div>
          
        </div>
    </div>

    <ng-container *ngIf="article;">
        <div class="flex flex-col sm:flex-row items-center justify-center w-full max-w-xs sm:max-w-none">
            <fuse-card class="flex flex-col md:flex-row max-w-80 md:max-w-160 w-full filter-shopping">
                <div class="flex-0 w-80 md:w-60 ">
                    <img
                        class="w-full h-full object-cover"
                        [src]="url+'/public/article/image?name='+article?.code+'.jpg'"
                        alt="Card cover image">
                </div>
                <div class="flex flex-col flex-auto m-8 mb-4">
                    <div class="text-2xl leading-tight">Designation : {{article?.designation}}</div>
                    <div class="text-md font-medium text-secondary mt-1">Ref : {{article?.code}}</div>
                    <div class="text-3xl font-semibold mt-4">Prix : {{article?.prix+' DH'}}</div>
                    <div class="flex items-center text-md mt-6">
                        <span class="text-secondary whitespace-nowrap mr-3">Quantité stock:</span>
                        <span class="font-bold text-primary mr-2">{{article?.quantite}}</span>
                    </div>
                    <hr class="w-full border-b mt-6 md:mt-auto mb-4">
                    <div class="flex flex-col sm:flex-row items-center justify-between -mx-3">
                        <mat-form-field class="example-full-width" appearance="legacy">
                            <mat-label>Quantité</mat-label>
                            <input #inpQuantite type="number" min="1" matInput placeholder="Quantité">
                        </mat-form-field>
                        <button
                            class="px-3 mr-1"
                            mat-button
                            [disabled]="inpQuantite.value.length == 0"
                            (click)="saveQuantite(inpQuantite.value)"
                            [color]="'primary'">
                            <mat-icon
                                class="icon-size-5"
                                svgIcon="add_shopping_cart"></mat-icon>
                            <span class="ml-2">Ajouter</span>
                        </button>
                    </div>
                </div>
                
            </fuse-card>
        </div>

    </ng-container>
    <!-- Main -->

</div>
