<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Paramétre</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Utilisateurs
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="prose prose-sm max-w-full">
                <fuse-card class="flex flex-col w-full p-8 mb-8">
                    <div class="text-2xl font-semibold leading-tight">Utilisateur</div>
                    <div class="mt-4">
                        Changer mot de passe.
                    </div>
                    <fuse-alert
                        class="mt-8 -mb-4"
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>
                    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
                          [formGroup]="userForm"
                          #userNgForm="ngForm">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
                            <div class="flex-auto min-w-64">

                                <div class="flex" >
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Nouveau mot de passe</mat-label>
                                        <input
                                            matInput
                                            required
                                            type="password"
                                            [formControlName]="'password'"
                                            [placeholder]="'mot de passe'">
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_solid:key'"></mat-icon>
                                        <mat-error *ngIf="userForm.get('password').hasError('required')">
                                            champ obligatoire.
                                        </mat-error>
                                        <mat-error *ngIf="userForm.get('password').hasError('maxlength')">
                                            Vous avez depacer 50 caratctères.
                                        </mat-error>
                                        <mat-error *ngIf="userForm.get('password').hasError('minlength')">
                                            mot de passe doit etre superieur à 6 caratctères.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="flex" >
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Confirmation</mat-label>
                                        <input
                                            matInput
                                            required
                                            type="password"
                                            [formControlName]="'confirmation'"
                                            [placeholder]="'confirmation'">
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_solid:key'"></mat-icon>
                                        <mat-error *ngIf="userForm.get('confirmation').hasError('mustMatch')">
                                            confirmation doit etre identique du password.
                                        </mat-error>
                                        <mat-error *ngIf="userForm.get('confirmation').hasError('required')">
                                            confirmation is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <button mat-button type="reset" >
                                Reset
                            </button>
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                (click)="save()"
                                [@shake]="alert.type === 'error'"
                                [disabled]="userForm.disabled || userForm.invalid"
                                >
                                <span>
                                    save
                                </span>
                            </button>
                        </div>
                    </form>

                </fuse-card>


        </div>
    </div>

</div>
